<!-- Login component
    get data from component and tie it to the template -->
<!-- User name: <input type="text" name="username" value="{{username}}" >
Password: <input type="text" name="password" value={{password}}> -->

<!-- prints user name-->
<!-- username : {{username}} -->

<div class="container">
    <div class="div-login">
        <h4 class="text-center">Login</h4>
        
        <div class="alert alert-warning" *ngIf='invalidLogin'> {{errorMessage}} </div>
        <!-- 2 way data binding -->
        <input type="text" name="username" placeholder=" User Name" [(ngModel)]="username"><br>
        <input type="password" name="password" placeholder="Password" [(ngModel)]="password"><br>

        <!-- event bind = what We Should Do  here Click event is used       
    onc click event handleLogin  method is called

    loginHandle is defined in relkated component file
-->
        <button class="btn btn-success" (click)=handleLogin()>Login</button>
    </div>
</div>


<!-- <div class="wrapper">
    <h1>Sign in</h1>
    <form action="">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <input type="submit" value="LOGIN">
    </form>

    <div class="bottom-text">
        <input type="checkbox" name="remember" checked> Remember me
        <a href="#">Forgot Password ?</a>
    </div>

    <div class="socials">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
    </div>
</div>
<div id="overlay-area">

</div> -->